@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: Lato-Regular;
  src: url(/jfs/assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Thin;
  src: url(https://410097800525331.github.io/jfs/assets/font/Lato-Thin.ttf);
}
.ls10px {
  letter-spacing: 0.625rem;
}

/* common */
.container {
  max-width: 980px;
}
/* bg */
#home .bgimg {
  background: url(../assets/img/light_main_bg.jpg) no-repeat 50% 50%/cover fixed;
}
#home.dark .bgimg {
  filter: brightness(60%);
  background-image: url(../assets/img/dark_main_bg.jpg);
}
.parallax_bg {
  height: 400px;
  background: no-repeat 50% 50%/cover fixed;
}
#about .parallax_bg {
  background-image: url(/jfs/assets/img/parallax1.jpg);
  background-position: bottom;
}
#work .parallax_bg {
  background-image: url(/jfs/assets/img/parallax2.jpg);
}
#contact .parallax_bg {
  background-image: url(/jfs/assets/img/parallax3.jpg);
}
/* home 애니메이션 */
.circle_ani {
  width: 188px;
  height: 188px;
  transition: linear 5s;
  animation: circle 50s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) scale(2.2);
  }
  100% {
    transform: rotate(720deg) scale(2.2);
  }
}
/* home */ 
#home.dark h2 {
  text-shadow: 1px 1px 2px #fff, 0 0 25px #fff, 0 0 5px palevioletred;
}
/* about */
.myimg {
  width: 425px; height: 280px;
}
.progress {
  height: 30px;
}
.progress:nth-of-type(1) .progress-bar {width: 90%;}
.progress:nth-of-type(2) .progress-bar {width: 75%;}
.progress:nth-of-type(3) .progress-bar {width: 85%;}
/* contact */
textarea {
  height: 200px;
  resize: none;
}