@charset 'utf-8';
/* @import url(reset.css); */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: Lato-Regular;
  src: url(/jfs/assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Thin;
  src: url(https://410097800525331.github.io/jfs/assets/font/Lato-Thin.ttf);
}
.ls10px {
  letter-spacing: 0.625rem;
}

/* common */
.container {
  max-width: 980px;
}
/* bg */
#home .bgimg {
  background: url(../assets/img/light_main_bg.jpg) no-repeat 50% 50%/cover fixed;
}
#home.dark .bgimg {
  filter: brightness(60%);
  background-image: url(../assets/img/dark_main_bg.jpg);
}
.parallax_bg {
  height: 400px;
  background: no-repeat 50% 50%/cover fixed;
}
#about .parallax_bg {
  background-image: url(../assets/img/parallax1.jpg);
  background-position: bottom;
}
#work .parallax_bg {
  background-image: url(../assets/img/parallax2.jpg);
}
#contact .parallax_bg {
  background-image: url(../assets/img/parallax3.jpg);
}
/* home 애니메이션 */
.circle_ani {
  width: 188px;
  height: 188px;
  transition: linear 5s;
  animation: circle 50s linear infinite;
}
@keyframes circle {
  0% {
    transform: rotate(0deg) scale(2.2);
  }
  100% {
    transform: rotate(720deg) scale(2.2);
  }
}
/* header */
#header {
  background: transparent;
  transition: 0.3s;
}
#header a {
  color: #eee;
  transition: 0.3s;
}
#header a:hover {
  color: #fff;
}
#header.active {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#header.active a {
  color: #222;
} 
#header.active a:hover {
  color: #111;
}
/* home */ 
#home h2 {
  text-shadow: 1px 1px 2px #fff, 0 0 25px #fff, 0 0 5px palevioletred;
}
/* about */
#about {
  overflow: hidden;
}
.basic p {
  /* 텍스트 양쪽 맞춤 */
  text-align: justify;
  word-break: break-all;
}
.myimg {
  width: 425px; height: 280px;
}
.progress {
  height: 30px;
}
.progress:nth-of-type(1) .progress-bar {width: 90%;}
.progress:nth-of-type(2) .progress-bar {width: 75%;}
.progress:nth-of-type(3) .progress-bar {width: 85%;}
.counter {
  opacity: 1;
  transition: opacity 0.5s;
}
.counter::after {
  content: '+';
}
.counter.active {
  opacity: 1;
}
/* work */
/* .portfolio li {
  aspect-ratio: 9/6;
} */
.portfolio {
  display: flex;
  gap: 24px;
}
.box_office_card {
  position: relative;
  width: 245px;
  border-radius: 5px;
  overflow: hidden;
}
/* front */
.poster {
  height: 352px;
}
.rank {
  position: absolute;
  left: 10px; top: 10px;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px 2px #000;
}
.screen_type {
  position: absolute;
  left: 10px; bottom: 10px;
  width: 60px;
}
.grade {
  position: absolute;
  right: 10px; bottom: 10px;
  width: 28px;
}
/* back */
.score {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px);
  padding-top: 8px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .2);
}
.score span {
  color: #59bec9;
  font-size: 1.5rem;
  margin-left: 16px;
}
/* btn */
.portfolio .btn {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 8px;
}
/* like */
.like {
  background: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100px;
}
.reservation_link {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  height: 34px;
}
/* y축 회전 */
.inner {
  position: relative;
  height: 352px;
  perspective: 1000px; /* 원근감 */
}
.inner:hover {
  cursor: pointer;
}
.front,
.back {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  transition: .5s;
}
.front {
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  padding: 40px;
  color: #fff;
  background: rgba(0, 0, 0, .9);
  /* 뒷면 숨기기 */
  backface-visibility: hidden;
}
/* 호버시 뒤집기 */
.inner:hover .front {
  transform: rotateY(180deg);
}
.inner:hover .back {
  transform: rotateY(360deg);
}
/* contact */
.map {
    height: 160px;
}
input {
  height: 38px;
}
#name,
#email {
  width: calc(50% - 4px);
}
textarea {
  height: 200px;
  resize: none;
}