/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset 'utf-8';
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre, a,
img, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
footer, header,
nav, section,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
