@charset "utf-8";
/* 웹 폰트 지정 */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: Lato-Regular;
  src: url(/jfs/assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: Lato-Thin;
  src: url(https://410097800525331.github.io/jfs/assets/font/Lato-Thin.ttf);
}

/* reset */
:root {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
iframe {
  width: 100%;
  height: 100%;
}
button {
  border: none;
  cursor: pointer;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* typo */
:root {
  font-size: 10px;
  --white-color: #fff;
  --main-color: #333;
  --sub-color: #ccc;
}
body {
  font: 1.5rem/1.6 "Lato-Reguler", sans-serif;
  color: #777;
}
/* header area */
header a {
  color: var(--white-color);
}
/* footer area */
footer a,
footer p {
  color: var(--white-color);
}
footer .top_btn a {
  color: var(--main-color);
}
footer .sns i {
  font-size: 2.4rem;
}
/* section area */
h2 {
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--white-color);
  letter-spacing: 1rem;
  /* ls 자간 */
  /* text-transform: uppercase; tt 대문자 */
  text-shadow: 1px 1px 2px #fff, 0 0 25px #fff, 0 0 5px palevioletred;
}
/* section area:contact */
#contact {
  color: #777;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.4rem;
}
#contact a {
  color: #777;
}
#contact button {
  color: #fff;
}
#contact .addr {
  font-size: 1.8rem;
}
textarea {
  font: 1.5rem/1.6 "Lato-Reguler", sans-serif;
}
::placeholder {
  font: 1.5rem/1.6 "Lato-Reguler", sans-serif;
  color: var(--sub-color);
}

/* common */
h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
h3 {
  text-align: center;
  margin: 64px 0 10px;
}
h3+p {
  text-align: center;
}

/* header area */
header {
  position: fixed;
  z-index: 9999;
}
header .gnb ul {
  display: flex;
}
header .gnb li a {
  display: inline-block;
  padding: 8px 16px;
}
header .gnb li a:hover {
  background: var(--sub-color);
}
header .gnb li i {
  margin-right: 8px;
}

/* footer area */
footer {
  background: #111;
  text-align: center;
  padding: 100px;
}
footer:hover {
  background: var(--main-color);
}
footer .top_btn {
  display: inline-block;
  background: var(--sub-color);
  padding: 8px 16px;
}
footer .top_btn i {
  margin: 0 8px;
}
footer .sns {
  margin: 24px;
}
footer .sns i {
  margin: 0 -3px;
}

.parallax_bg {
  position: relative;
  height: 400px;
  background: no-repeat 50% 50%/cover fixed;
}
.container {
  max-width: 900px;
  margin: 48px auto 96px;
  text-align: center;
}
button {
  background: #f1f1f1;
  padding: 12px 24px;
  margin-top: 10px;
  border-radius: 4px;
}

#work .parallax_bg {
  background-image: url(/jfs/assets/img/parallax2.jpg);
}
#work .portfolio {
  display: flex;
  gap: 16px;
}
#work .portfolio li {
  flex: 25%;
  height: 162px;
  border: 1px solid #ccc;
}
#work button {
  margin: 64px 0 0;
}
#shadow {
  margin: 64px 0 0;
  width: 200px;
  /* height: 50px; */
  background: inherit;
  color: #000;
  box-shadow: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: 0.2s ease-out;
}
#work button:hover {
  background-color: var(--sub-color);
}

/* 최대 1024px -> 1024px 이하의 장치: 테블릿(768px), 폰(360px) */
@media (max-width: 1024px) {
  body {
    /* vw, vh, vmax, vmin */
    font-size: 2vw;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 4vw;
  }
  button {
    font-size: 2.5vw;
  }
  .top_btn {
    font-size: 2.5vw;
  }
  footer .sns i {
    font-size: 3vw;
  }
  footer {
    padding: 100px 0;
  }
  /* .container {
    width: 100%;
  } */
  /* work */
  #work .portfolio {
    flex-wrap: wrap;
    padding: 0 24px;
  }
  #work .portfolio li {
    flex: 40%;
    height: 240px;
  }
}
/* 최대 768px -> 768px 이하의 장치: 폰(360px) */
@media (max-width: 767px) {
  body {
    font-size: 3vw;
  }
  h2 {
    font-size: 8vw;
  }
  h3 {
    font-size: 6vw;
  }
  button {
    font-size: 4vw;
  }
  .top_btn {
    font-size: 4vw;
  }
  footer .sns i {
    font-size: 4vw;
  }
  /* work */
  #work .portfolio li {
    flex: 100%;
  }
}