@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');


:root {
  font-size: 10px;
  --gray2: #222;
  --gray5: #555;
  --grayd: #ddd;
  --main: #98A86D;
  scroll-behavior: smooth;
}
body {
  font: 16px/1.5 'NexonLv1Gothic', sans-serif;
  color: var(--gray5)
}
.btnG {
  display: inline-block;
  padding: 8px 40px;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid var(--gray5);
}
.btnG:hover {
  background-color: var(--gray5);
  color: #fff;
}
.btnF {
  display: inline-block;
  padding: 8px 40px;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  color: #fff;
}
.btnF:hover {
  background-color: #fff;
  color: var(--gray5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body, h1, h2, h3, p, ul {
  margin: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--gray5);
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
  border: none;
}