@charset "utf-8";
@import url(./common.css);
@import url(./header.css);
@import url(./footer.css);

/* 메인 배너 */
.main_banner {
  width: 100%; height: 780px;
  margin: -8px;
}
.banner_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.banner_list li {
  position: relative;
  overflow: hidden;
}
.banner_list a {
  color: #fff;
}
.banner_img {
  width: 100%; height: 780px;
  background-size: cover;
  background-position: top;
  transition: transform 0.5s ease;
}
.banner_list li:hover .banner_img {
  transform: scale(1.1);
}
.banner_overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease;
  z-index: 1;
}
.banner_list li:hover .banner_overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.banner_text {
  position: absolute;
  bottom: 16%; left: 30px; right: 30px;
  z-index: 2;
}
.banner_text h3 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.banner_text p {
  font-size: 1.5rem;
  margin-bottom: 24px;
}
.more_btn {
  display: inline-block;
  padding: 8px 40px;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}
.more_btn:hover {
  background-color: #fff;
  color: #111;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) {
  .banner_list {
    grid-template-columns: 1fr;
  }
  .banner_img {
    height: 250px;
  }
}

/* 프로세스 */
.oem_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 140px auto 40px;
}
/* .oem_steps {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 24px auto 70px;
} */
/* .oem_step {
  width: 200px;
  text-align: center;
}
.oem_circle {
  position: relative;
  width: 90px; height: 90px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  margin: 0 auto 10px;
}
.oem_circle span {
  position: absolute;
  bottom: -16px;
  font-weight: 500;
  color: var(--grayc);
}
.oem_step h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 16px 0 8px;
}
.oem_step p {
  font-size: 1.4rem;
}
.arrow {
  font-size: 1.8rem;
  color: var(--grayc);
  align-self: center;
}
@media (max-width: 768px) {
  .oem_steps {
    flex-direction: column;
    gap: 2rem;
  }
  .arrow {
    transform: rotate(90deg);
  }
} */

/* 문의 폼 */
.contact_section {
  max-width: 1400px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
}
.contact_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.contact_image {
  flex: 1 1 45%;
}
.contact_form {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.form_row {
  display: flex;
  gap: 10px;
}
.form_group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form_group label {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.form_group input,
.form_group textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}
/* .form_group textarea {
  resize: vertical;
} */
/* .checkbox_group {
  display: flex;
  align-items: center;
  gap: 6px;
}
.required {
  color: red;
}
.textarea_info textarea {
  width: 100%;
  font-size: 13px;
  color: #555;
  border: 1px solid #ccc;
  padding: 10px;
  background: #f9f9f9;
  resize: vertical;
} */
.btn_submit {
  background: #333;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
}
.btn_submit:hover {
  background: #111;
}
@media (max-width: 768px) {
  .contact_inner {
    flex-direction: column;
  }
  .form_row {
    flex-direction: column;
  }
}

/* 회사 소개 */
/* .about {
  padding: 100px 0;
  background-color: #f9f9f9;
} */
.about .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  width: 70%;
  margin: 0 auto;
}
.about_text {
  flex: 1;
}
.about_text p {
  line-height: 1.7;
  margin: 20px 0 30px;
}
.about_img {
  flex: 1;
  text-align: right;
}
.about_img img {
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* 제품 소개/납품 사례 */
/* .intro_section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 0;
} */
.intro_block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 60px;
  margin-bottom: 32px;
  padding: 0 80px;
}
.intro_block.reverse {
  flex-direction: row-reverse;
}
.intro_image img {
  width: 600px; height: 400px;
  max-width: 500px;
  border-radius: 4px;
  transition: transform 0.6s ease, filter 0.6s ease;
  filter: grayscale(40%);
}
.intro_image img:hover {
  filter: grayscale(0%);
  transform: scale(1.03);
}
.intro_text {
  max-width: 550px;
}
.intro_title {
  margin-bottom: 20px;
}
.intro_desc {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
@media (max-width: 7680px) {
  .intro_block {
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
  }
  .intro_block.reverse {
    flex-direction: column;
  }
  .intro_image img {
    max-width: 100%;
  }
}

/* 회사 위치 */
.main_bg {
  position: relative;
  color: #fff;
}
.bg_inner {
  width: 100%;  height: 300px;
  background: url(../assets/imgs/main_bg.jpg) no-repeat 0 0/cover fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bg_inner h3 {
  font-size: 3.2rem;
}
.bg_inner p {
  margin: 16px 0 24px;
}
.main_bg a {
  color: #fff;
}
.main_bg a:hover {
  color: var(--gray5);
}

/* 포트폴리오 */
.portfolio_section {
  text-align: center;
  padding: 40px 20px;
  overflow: hidden;
}
.portfolio_title p {
  margin: 10px 0 30px;
}
.portfolio_slider {
  overflow: hidden;
  width: 100%;
  margin-top: 50px;
}
.slider_track {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.slider_track:nth-child(1) {
  animation: scroll_sliderL 30s linear infinite;
}
.slider_track:nth-child(2) {
  animation: scroll_sliderR 30s linear infinite;
}
.slider_track img {
  width: 400px; height: 300px;
  /* flex-shrink: 0; */
  cursor: pointer;
}
.slider_track img {
  filter: grayscale(100%);
  transition: filter 0.5s ease, transform 0.5s ease;
}
.slider_track img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}
@keyframes scroll_sliderL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll_sliderR {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 768px) {
  .slider_track img {
    width: 240px;
    height: 160px;
  }
  .portfolio_title h2 {
    font-size: 1.8rem;
  }
}
