@charset "utf-8";
@import url(./common.css);
@import url(./header.css);
@import url(./footer.css);

/* 메인 배너 */
.main_banner {
  width: 100%; height: 700px;
}
.banner_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.banner_list li {
  position: relative;
  overflow: hidden;
}
.banner_list a {
  color: #fff;
}
.banner_img {
  width: 100%; height: 700px;
  background-size: cover;
  background-position: top;
  transition: transform 0.5s ease;
}
.banner_list li:hover .banner_img {
  transform: scale(1.1);
}
.banner_overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease;
  z-index: 1;
}
.banner_list li:hover .banner_overlay {
  background-color: rgba(0, 0, 0, 0.5);
}
.banner_text {
  position: absolute;
  bottom: 20%; left: 30px; right: 30px;
  z-index: 2;
}
.banner_text h3 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}
.banner_text p {
  font-size: 1.5rem;
  margin-bottom: 24px;
}
.more_btn {
  display: inline-block;
  padding: 8px 40px;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}
.more_btn:hover {
  background-color: #fff;
  color: #111;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
@media (max-width: 770px) {
  .banner_list {
    grid-template-columns: 1fr;
  }
  .banner_img {
    height: 250px;
  }
}

/* 프로세스 */
.oem_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 140px auto 40px;
}
.oem_steps {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 24px auto 70px;
}
.oem_step {
  width: 200px;
  text-align: center;
}
.oem_circle {
  position: relative;
  width: 90px; height: 90px;
  border-radius: 50%;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  margin: 0 auto 10px;
}
.oem_circle span {
  position: absolute;
  bottom: -16px;
  font-weight: 500;
  color: var(--grayc);
}
.oem_step h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 16px 0 8px;
}
.oem_step p {
  font-size: 1.4rem;
}
.arrow {
  font-size: 1.8rem;
  color: var(--grayc);
  align-self: center;
}
@media (max-width: 770px) {
  .oem_steps {
    flex-direction: column;
    gap: 2rem;
  }
  .arrow {
    transform: rotate(90deg);
  }
}

/* 문의 폼 */
.contact_section {
  max-width: 1400px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #ddd;
}
.contact_inner {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.contact_image {
  flex: 1 1 45%;
}
.contact_form {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.form_row {
  display: flex;
  gap: 10px;
}
.form_group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form_group label {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.form_group input,
.form_group textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
}
/* .form_group textarea {
  resize: vertical;
} */
/* .checkbox_group {
  display: flex;
  align-items: center;
  gap: 6px;
}
.required {
  color: red;
}
.textarea_info textarea {
  width: 100%;
  font-size: 13px;
  color: #555;
  border: 1px solid #ccc;
  padding: 10px;
  background: #f9f9f9;
  resize: vertical;
} */
.btn_submit {
  background: #333;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background 0.2s;
}
.btn_submit:hover {
  background: #111;
}
@media (max-width: 770px) {
  .contact_inner {
    flex-direction: column;
  }
  .form_row {
    flex-direction: column;
  }
}
 /* intro_content */
 /* .intro_section {
  display: flex;
  width: 100%; min-height: 60vh;
  background: #f8f8f8;
}
.intro_image {
  flex: 1;
  background: url('') no-repeat 0 0/cover;
  background-color: #ccc;
  background-attachment: fixed;
}
.intro_content {
  flex: 1;
  padding: 6rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #111;
}
.intro_content img {
  width: 150px; height: 50px;
  margin-bottom: 14px;
}
.intro_content p {
  font-size: 1.6rem;
  margin-bottom: 32px;
  color: #444;
}
.intro_content ul {
  margin-bottom: 24px;
}
.intro_content ul li {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.8;
  padding-left: 1rem;
  margin-bottom: 8px;
}
.intro_content ul li::before {
  content: "–";
  position: absolute;
  left: 0;
  color: var(--gray5);
}
.intro_btn {
  display: inline-block;
  border: 2px solid var(--gray5);
  color: var(--gray5);
  padding: 0.8rem 2rem;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}
.intro_btn:hover {
  background: var(--gray5);
  color: #fff;
}
@media (max-width: 1024px) {
  .intro_section {
    flex-direction: column;
  }
  .intro_image {
    height: 300px;
  }
  .intro_content {
    padding: 3rem 2rem;
  }
  .intro_content h2 {
    font-size: 1.6rem;
  }
  .intro_btn {
    font-size: 0.9rem;
    padding: 0.7rem 1.6rem;
  }
} */

/* 회사 위치 */
.main_bg {
  position: relative;
  color: #fff;
}
.bg_inner {
  width: 100%;  height: 300px;
  background: url(../assets/imgs/main_bg.jpg) no-repeat 0 0/cover fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bg_inner p {
  margin: 16px 0 24px;
}