@charset 'utf-8';

/* 반응형 만들기 */
/* 메뉴 */
#header {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background: transparent;
  z-index: 1000;
}
#header.active {
  background-color: #fff;
  /* background-color: rgba(255, 255, 255, 0.95); */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.logo {width: 200px; height: 60px; }
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li {
  position: relative;
}
/* nav ul li a:hover {
  color: var(--gray5);
  text-decoration: underline;
} */
nav ul li a {
  position: relative;
  transition: color 0.3s ease;
  z-index: 1;
}
nav ul li::after {
  content: '';
  position: absolute;
  bottom: -2px; left: 50%;
  width: 0; height: 1px;
  background-color: var(--gray5);
  transition: all 0.3s ease;
  transform: translateX(-50%);
  z-index: 2;
}
nav ul li:hover {
  color: var(--gray5);
}
nav ul li:hover::after {
  width: 100%;
  z-index: 3;
}
nav ul.sub_menu li::after {
  display: none;
  content: none;
}
.sub_menu {
  position: absolute;
  top: 100%; left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  gap: 1px;
  border: 1px solid var(--grayd);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: 0.3;
}
.sub_menu {
  display: none;
  background-color: #fff;
  text-align: center;
}
.sub_menu li {
  padding: 8px 0;
}
.sub_menu li a {
  padding: 8px 15px;
  font-size: 1.4rem;
  white-space: nowrap;
}
.gnb > li:hover > .sub_menu {
  display: flex;
}
.sub_menu li:hover {
  background-color: #f9f9f9;
}
.nav_right {
  font-size: 1.4rem;
}

/* 사이드 메뉴 */
.side_menu {
  position: fixed;
  right: 1%; bottom: 3%;
  /* transform: translateY(-50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  background-color: #f9f9f9;
  z-index: 9998;
}
.side_menu a:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 100%; height: 1px;
  background: var(--gray5);
  margin: 8px auto;
}
.menu_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  width: 90px;
  text-align: center;
}
.menu_item:hover {
  font-weight: 600;
}
.menu_item:last-of-type {
  font-size: 2.4rem;
}
.menu_item span {
  font-size: 1.2rem;
  line-height: 1.2;
}
@media (max-width: 770px) {
  .side_menu {
    right: 10px;
    padding: 10px 0;
  }
}
/* .header {
  position: fixed;
  left: 0; top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%; height: 110px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 9999;
} */
/* .header nav ul {
  display: flex;
  gap: 20px;
} */
/* .header nav ul li {
  position: relative;
} */
 /* .sub_menu {
  position: absolute;
  top: 100%; left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  padding: 10px 0;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.header nav ul li a:hover,
.header nav ul li button:hover {
  color: #000;
  text-decoration: underline;
}
.header .sub_menu {
  display: none;
  background-color: #fff;
  text-align: center;
}
.sub_menu li a {
  padding: 8px 15px;
  font-size: 1.4rem;
  white-space: nowrap;
}
.gnb > li:hover > .sub_menu {
  display: flex;
}
.nav_right {
  font-size: 1.4rem;
} */