@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 1920 1024 767 480 */
:root {
  --gray: #777;
  --sub: #C1AFA1;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font: 16px/1.5 'NanumSquare', sans-serif;
  color: var(--gray2)
}
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, pre, a,
img, strong, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
footer, header,
nav, section,
audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
ol, ul {
	list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray5);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}