@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
/* 폰트어썸 */

/* reset */
:root {scroll-behavior: smooth; font-size: 10px;}
* {box-sizing: border-box;}
html, body {margin: 0; height: 100%; overflow-x: hidden;}
body, h1, h2, h3, p, ul {margin: 0;}
ul {padding: 0;list-style: none;}
a {text-decoration: none;}

/* typo */
:root {
    font-size: 10px;
    --white-color: #fff;
}
body {
    font: 1.5rem/1.6 "Lato-Reguler", sans-serif;
    /* color: var(--main-color); */
}
a {
    color: var(--main-color);
}

/* 오른쪽 가운데 버튼 */
.nav-buttons {
    position: fixed;
    top: 50%; right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}
.nav-buttons a {
    width: 14px; height: 14px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: block;
    transition: 0.3s;
    cursor: pointer;
}
.nav-buttons a:hover,
.nav-buttons a.active {
    background: white;
}
/* header area */
header {
    position: fixed;
    z-index: 9999;
}
header .gnb ul {
    display: flex;
}
header .gnb li a {
    display: inline-block;
    padding: 8px 16px;
}
header .gnb li a:hover {
    background: #ccc;
}
header .gnb li i {
    margin-right: 8px;
}
/* section1 area */
main {
    position: relative;
    width: 100%; height: 100vh;
    overflow: hidden;
}
section {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: transform 0.8s ease;
    /* 부드럽게 전환 */
}
section:nth-child(3) {background: #ccc;}
section:nth-child(4) {background: #ddd;}
/* s1 area */
#s1 {
    position: relative;
    width: 100%; height: 100vh;
}
/* #s1 .s1_txt {
    position: absolute;
    left: 10%; top: 70%;
    transform: translateY(-50%);
    width: 40%;
}
#s1 .s1_bg {
    position: absolute;
    right: 0; top: 0;
    width: 50%; height: 100%;
    background: url(../assets/img/main_bg.jpg) no-repeat 0 0/cover;
} */
#s1 .s1_txt {
    position: absolute;
    left: 10%; top: 40%;
    transform: translateY(-50%);
    color: #fff;
    letter-spacing: 24px;
}
#s1 .s1_bg {
    position: absolute;
    right: 0; top: 0;
    width: 100%; height: 100%;
    background: url(../assets/img/main_bg.jpg) no-repeat 0 0/cover;
}

/* about area */
#s2 {
    width: 100%; height: 100%;
    background: url(../assets/img/about_bg.png) no-repeat 0 0/cover;
}
#s2 .s2_container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}
#s2 .s2_container .s2_inner {
    width: 24%; height: 90vh;
    padding: 24px 16px;
}
#s2 .s2_container .s2_inner:nth-child(1) {
    width: 33%;
}
#s2 .s2_inner .my_photo {
    width: 400px; height: 700px;
    background-color: #ccc;
    margin: 0 auto;
}
#s2 .s2_inner h3 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}
#s2 .s2_inner ul {
    margin-bottom: 24px;
}
#s2 .s2_inner li {
    margin-bottom: 6px;
    font-size: 1.6rem;
    font-weight: 400;
}
#s2 .s2_inner li span:first-child {
    display: inline-block;
    width: 80px;
}
#s2 .s2_inner li i {
    margin-right: 8px;
}
#s2 .s2_inner .s2_inner2 li span:first-child {
    display: inline-block;
    width: 140px;
}
#s2 .s2_inner .s2_inner3 {
    display: flex;
    flex-direction: column;
}
#s2 .s2_inner .s2_inner3 i {
    width: 36px; height: 36px;
    border: 1px dashed #333;
    line-height: 36px;
    font-size: 2.4rem;
}
#s2 .s2_inner4 li {
    margin-bottom: 16px;
}
#s2 .s2_inner4 span:nth-child(2) {
    display: inline-block;
    width: 300px; height: 30px;
    border: 1px solid #333;
    margin-left: 8px;
    vertical-align: middle;
}
#s2 .s2_inner4 li p {
    height: 100%;
    text-align: right;
    padding-right: 8px;
    border-radius: 5px;
    background-color: #ccc;
}
#s2 .s2_inner4 li p.skill1 {width: 80%;}
#s2 .s2_inner4 li p.skill2 {width: 90%;}
#s2 .s2_inner4 li p.skill3 {width: 30%;}
#s2 .s2_inner4 li p.skill4 {width: 60%;}
#s2 .s2_inner4 li p.skill5 {width: 80%;}
#s2 .s2_inner4 li p.skill6 {width: 70%;}
#s2 .s2_inner4 li p.skill7 {width: 65%;}
/* pofol1 area */

/* contact, footer area  */
#s5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* #s5 .contact_inner {
    display: flex;
    justify-content: space-between;
    margin: 48px auto 96px;
}
.contact_inner .map {
    width: 280px; height: 160px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 32px;
} */
/* .contact .contact p {
    margin: 24px 0 16px;
} */
/* .contact_info .frm_input {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.contact_info input {
    width: 100%; height: 45px;
    padding-left: 16px;
}
.contact_info input:first-of-type {
    margin-right: 7px;
}
.contact_info textarea  {
    width: 100%; height: 150px;
    resize: none;
    margin-top: 10px;
    padding: 16px;
}
.contact_info button {
    background: #111;
    padding: 12px 24px;
    margin-top: 10px;
    float: right;
} */
/* #contact i {
    margin-right: 8px;
}
#contact .addr i {
    margin-right: 16px;
} */

#s5 footer {
    display: inline-block;
    width: 100%;
    background: #2c2c2c;
    text-align: center;
    padding: 20px 10px 10px;
}
#s5 footer .sns a, footer p {
    margin: 16px 8px;
    color: var(--white-color);
}
footer p {
    font-size: 1.6rem;
}