@charset 'utf-8';
@import url(common.css);

/* ################ section ################ */
#section {
  color: #fff;
  padding: 50px 0 100px;
}
.ibox {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.ibox h2 {
  display: inline-block;
  border-bottom: 2px solid #555;
  font-size: 1rem;
  font-weight: 400;
}
.more {
  text-align: right;
  margin-bottom: 16px;
}
.more a {
  color: #ccc;
}
.more i {
  transform: scale(2.3, 2.3);
  margin-left: 8px;
  font-weight: 300;
}
.link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: rgba(0, 0, 0, .5);
  margin: 50px 0;
  padding: 25px 0;
}
.link li {
  width: calc(1100px / 4);
  text-align: center;
}
.link li:not(:last-of-type)::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 25px;
  margin-left: 90px;
  background: rgba(255, 255, 255, .3);
}
.link li:first-of-type::after {
  margin-left: 40px;
}
.link .search {
  position: relative;
  display: inline-block;
  width: 70%;
  text-align-last: left;
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.link .search::before {
  content: '';
  position: absolute;
  right: -4px;
  top: 2px;
  width: 18px;
  height: 18px;
  background: url(../img/ico-search-white.png) no-repeat;
}
.link .search input::placeholder {
  font-size: 0.938rem;
  color: #ccc;
}
.link img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  margin-right: 8px;
}
.link span {
  vertical-align: middle;
}
.mouse {
  text-align: center;
}
.mouse span {
  display: inline-block;
  width: 16px;
  animation: mouse 2s infinite ease-in-out;
}
@keyframes mouse {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(20px);
  }
  80% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Box Office Card Ui */
.box_office {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.box_office_card {
  position: relative;
  width: 245px;
  border-radius: 5px;
  overflow: hidden;
}
/* front */
.poster {
  height: 352px;
}
.rank {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px 2px #000;
}
.screen_type {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 60px;
}
.grade {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 28px;
}
/* back */
.score {
  position: absolute;
  bottom: 24px;
  width: calc(100% - 48px);
  padding-top: 8px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .2);
}
.score span {
  color: #59bec9;
  font-size: 1.5rem;
  margin-left: 16px;
}
/* btn */
.btn {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
/* like */
.like {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
.like i {
  margin-right: 4px;
}
.reservation_link {
  width: 100%;
  background: #037b94;
  border-radius: 5px;
  text-align: center;
  padding: 6px;
  /* line-height: 34px; */
}
/* y축 회전 */
.box_office_card .inner {
  position: relative;
  height: 352px;
  text-align-last: left;
  perspective: 1000px;
  /* 원근감 */
}
.box_office_card .inner:hover {
  cursor: pointer;
}
.front,
.back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
}
.front {
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
  padding: 24px;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  /* 뒷면 숨기기 */
  backface-visibility: hidden;
}
/* 호버시 뒤집기 */
.box_office_card .inner:hover .front {
  transform: rotateY(180deg);
}
.box_office_card .inner:hover .back {
  transform: rotateY(360deg);
}