@charset 'utf-8';
@import url(common.css);

/* header */
#header .sub {
  background: #339EB2;
}

/* sub */
#section {
  padding-bottom: 150px;
  background: #fff;
  color: #fff;
}
#section .inner {
  max-width: 1100px;
  margin: 0 auto;
}
#section h2 {
  padding: 50px 0;
  font-size: 2rem;
  text-align: center;
  color: #222;
}
#section img {
  height: 28px;
  object-fit: contain;
}
.special {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.special:nth-of-type(2) {
  margin: 100px 0;
}
.special div,
.special h3 {
  height: 260px;
  border-radius: 12px;
  margin: 0;
  background: #ccc;
}
.special:nth-of-type(1) h3 {
  background: #000;
}
.special:nth-of-type(2) h3 {
  background: #8E6916;
}
.special:nth-of-type(3) h3 {
  background: #390081;
}

/* grid background + grid item size */
.special h3 {
  padding: 30px;
}
.special:nth-of-type(1) div {
  padding: 30px;
  background: no-repeat 50% 50%/cover;
}
.special:nth-of-type(1) div:nth-of-type(1) {
  grid-column: 2 / span 2;
  grid-row-start: 1;
  background-image: url(/img/specialtheater/bg_dolbycinema.png);
}
.special:nth-of-type(1) div:nth-of-type(2) {
  background-image: url(/img/specialtheater/bg_LED.png);
}
.special:nth-of-type(1) div:nth-of-type(3) {
  grid-column: 1 / span 2;
  grid-row-start: 2;
  background-image: url(/img/specialtheater/bg_dolbyvision.png);
}
.special:nth-of-type(1) div:nth-of-type(4) {
  grid-row: 2 / span 2;
  grid-column-start: 3;
  background-image: url(/img/specialtheater/bg_MX4D.png);
}
.special:nth-of-type(1) div:nth-of-type(5) {
  background-image: url(/img/specialtheater/bg_dolby_atmos.png);
}

.special:nth-of-type(2) div:nth-of-type(1) {
  grid-column: 2 / span 2;
  background-image: url(/img/specialtheater/bg_boutique_private.png);
}
.special:nth-of-type(2) div:nth-of-type(2) {
  grid-column: 1 / span 2;
  background-image: url(/img/specialtheater/bg_suite.png);
}
.special:nth-of-type(2) div:nth-of-type(3) {
  background-image: url(/img/specialtheater/bg_boutique.png);
}

.special:nth-of-type(3) div:nth-of-type(1) {
  background-image: url(/img/specialtheater/bg_recliner.png);
}
.special:nth-of-type(3) div:nth-of-type(2) {
  background-image: url(/img/specialtheater/bg_comfort.png);
}