@charset 'utf-8';

.ci {
  text-align: center;
}
.ci img {
  width: 500px;
}
.ci h2,
.ci h3 {
  opacity: 0;
  transform: translateY(40px);
  animation: fade_up 1s ease forwards;
  font-size: 4.6rem;
  line-height: 1.1;
  font-weight: 400;
}
.ci h3:nth-child(1) {animation-delay: 0.2s;}
.ci h3:nth-child(2) {animation-delay: 0.5s;}
.ci h3:nth-child(3) {animation-delay: 0.8s;}
.ci h3:nth-child(4) {animation-delay: 1.1s;}
.ci h2 { 
  font-weight: 700; 
  font-size: 5.6rem;
  margin: 30px 0 28px;
  animation-delay: 1.5s;
  letter-spacing: -4px;
}
.ci p {
  margin-bottom: 24px;
  color: #555;
}
.ci .slogan {
  font-size: 3.6rem;
  animation-delay: 1.8s;
}
@keyframes fade_up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

