@charset "utf-8"; 
@import url(common.css);

/* typo */
body, a {
    color:  #ccc;
}
::placeholder, i, h1 {
    color: var(--white-color);
}

/* login page: login.html */
.login_container {
    position: relative;
    height: 100vh;
    background: url(../assets/img/loginBg.jpg) no-repeat 50% 50%/cover;
}
.login_box .login_inner {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
