@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 1920 1024 767 480 */
:root {
  --gray: #777;
  --sub: #C1AFA1;
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font: 16px/1.5 'NanumSquare', sans-serif;
  color: var(--gray2)
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  width: 100%;
}
textarea {
  min-height: 120px;
  resize: vertical;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
body, h1, h2, h3, p, ul {
  margin: 0;
}
section {
  margin: 40px 0;
}
label span {
  color: red;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--gray5);
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
input {
  border: none;
}
input[type="radio"],
input[type="checkbox"],
label input, 
select {
  cursor: pointer;
}

.line_block {
  display: inline-block;
  width: 2px; height: 90px;
  background: #555;
  margin: 32px auto;
}
.highlight{
  display: inline;
  box-shadow: inset 0 -2px 0 var(--sub);
}

/* 버튼 */
.btnG {
  display: inline-block;
  padding: 8px 40px;
  font-size: 1.4rem;
  font-weight: 600;
  vertical-align: middle;
  transition: all 0.3s ease;
  border: 1px solid var(--gray5);
}
.btnG:hover {
  background-color: var(--gray5);
  color: #fff;
}
.btnF {
  display: inline-block;
  padding: 8px 40px;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 1px solid #fff;
  color: #fff;
}
.btnF:hover {
  background-color: #fff;
  color: var(--gray5);
}
.footer_btnF {
  background: #fff;
  color: #111;
  border: 1px solid #111;
  padding: 15px 0;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.footer_btnF:hover {
  background: #f9f9f9;
}
.footer_btnB {
  background: #111;
  color: #fff;
  padding: 15px 0;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}
.footer_btnB:hover {
  background: #333;
  color: #fff;
}